Welcome to Machine Learning!

In [3]:
import sys
assert sys.version_info >= (3, 7)
from packaging import version
import sklearn
assert version.parse(sklearn.__version__) >= version.parse('1.0.1')
import pandas as pd

In [5]:
housing = pd.read_csv('data/housing.csv')

In [6]:
housing.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
686,-122.38,40.69,21.0,1774.0,370.0,875.0,354.0,1.7422,61500.0,INLAND
17331,-118.92,36.04,28.0,1148.0,233.0,521.0,212.0,2.9208,98500.0,INLAND
2226,-117.68,34.03,16.0,2859.0,668.0,1946.0,591.0,3.0396,124300.0,INLAND
1742,-118.03,33.97,39.0,2126.0,434.0,1103.0,433.0,3.2852,196200.0,<1H OCEAN
1312,-121.41,38.57,16.0,4429.0,1124.0,1538.0,960.0,3.2443,190700.0,INLAND

In [7]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB